<%# Users#show %>
<%# Find me in app/views/users/show.html.erb %>
<%# ユーザー詳細画面 /users/Id %>

<div class="container px-5 ps-sm-0">
  <div class="row">
    <%# 画面左側----------------------------------------------------------------------------------------------------- %>
    <div class="col-md-3">
      <%# <%= render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] % > %>
      <%= render 'shared/sidebar', user_info: @user %>
    </div>

    <%# 画面右側------------------------------------------------------------------------------------------------------------------------------- %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <%# table-hover: カーソルを合わせると背景色が変わる table-inverse: 背景が暗く、文字色が明るくなる%>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
      

          <% @books.each do |book| %>
            <% if book.user_id == @user.id %>  
              <tr>
                <td>
                  <%= link_to user_path(book.user_id) do %>
                    <%= image_tag book.user.get_profile_image(80,80) %></td>
                  <% end %>
                <td>
                  <%= link_to book_path(book.id) do %>
                    <%= book.title %>  
                  <% end %> 
                </td>
                <td><%= book.body %></td>
              </tr>
            <% end %>  
          <% end %>    
        </tbody>
            
          
          
        
      </table>
    </div>
  </div>
</div>
